@font-face {
  font-family: 'DIN Next LT Arabic';
  src: url("../fonts/dinNextLt-regular/DINNextLTArabic-Regular.eot");
  src: url("../fonts/dinNextLt-regular/DINNextLTArabic-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/dinNextLt-regular/DINNextLTArabic-Regular.woff") format("woff"), url("../fonts/dinNextLt-regular/DINNextLTArabic-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DIN Next LT Arabic';
  src: url("../fonts/dinNextLt-medium/DINNextLTArabic-Medium.eot");
  src: url("../fonts/dinNextLt-medium/DINNextLTArabic-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/dinNextLt-medium/DINNextLTArabic-Medium.woff") format("woff"), url("../fonts/dinNextLt-medium/DINNextLTArabic-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
:root {
  font-size: 14px;
}

body {
  color: #8D8D8D;
  font-family: "DIN Next LT Arabic";
  background-color: #FFF;
  margin: 0;
  padding: 0;
  text-align: right;
}

a {
  color: #2668d9;
}

a:hover,
a.text-primary:hover,
a.text-primary:focus {
  color: #2057b6;
}

.pagination {
  padding: 0;
  margin: 0;
}

.page-item.active .page-link {
  background-color: #2668d9;
  border-color: #2668d9;
}

.page-link {
  color: #2668d9;
}

.modal-header {
  padding: 1.7rem 2rem 1rem;
  border: 0;
}

.modal-header .close {
  float: left;
  margin: 0;
  padding: 0;
}

.modal-title {
  font-size: .9rem;
  font-weight: 400;
  color: #2668d9;
}

@media (min-width: 1180px) {
  .modal-xlg {
    max-width: 1180px;
  }
}

@media (min-width: 1180px) {
  .modal-xxlg {
    max-width: 94%;
  }
}

.modal-content {
  border-radius: 0;
}

.modal-body .main-content {
  padding: 0;
  margin: 0;
}

.modal-backdrop {
  background-color: #163B37;
}

.modal-backdrop.in, .modal-backdrop.show {
  opacity: .8;
}

.breadcrumb {
  margin: 0;
  background: transparent;
  padding-right: 0;
  padding-left: 0;
}

.breadcrumb-item + .breadcrumb-item {
  padding-right: 0.5rem;
  padding-left: 0;
}

.breadcrumb-item + .breadcrumb-item::before {
  padding-left: 0.5rem;
  padding-right: 0;
}

.alert-container {
  width: 320px;
  position: fixed;
  z-index: 999999;
}
@media (max-width: 768px) {
  .alert-container {
    max-width: 280px;
  }
}
.alert-container.center-top {
  top: 40px;
  left: 50%;
  margin-left: -220px;
}
@media (max-width: 768px) {
  .alert-container.center-top {
    margin-left: -140px;
  }
}
.alert-container.center-bottom {
  bottom: 40px;
  left: 50%;
  margin-left: -220px;
}
@media (max-width: 768px) {
  .alert-container.center-bottom {
    margin-left: -140px;
  }
}
.alert-container.left-top {
  top: 40px;
  left: 20px;
}
.alert-container.left-bottom {
  bottom: 40px;
  left: 20px;
}
.alert-container.right-top {
  top: 40px;
  right: 20px;
}
.alert-container.right-bottom {
  bottom: 40px;
  right: 20px;
}
.alert-container .alert {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  padding-top: 1rem;
  padding-right: 5rem;
  padding-bottom: 1rem;
  border: 0;
  border-radius: 6px;
  background-color: #FFFFFF;
  color: #8D8D8D;
  border-right: 6px solid transparent;
}
@media (max-width: 768px) {
  .alert-container .alert {
    padding-top: 1rem;
    padding-right: 3rem;
    padding-bottom: 1rem;
    border-radius: 3px;
    border-right: 3px solid transparent;
  }
}
.alert-container .alert:before {
  position: absolute;
  right: 12px;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'Font Awesome 5 Free';
  font-size: 2rem;
  display: block;
  font-weight: 900;
}
@media (max-width: 768px) {
  .alert-container .alert:before {
    font-size: 1.2rem;
  }
}
.alert-container .alert.alert-warning {
  border-right-color: #fdce4e;
}
.alert-container .alert.alert-warning:before {
  content: "\f071";
  color: #fdce4e;
}
.alert-container .alert.alert-success {
  border-right-color: #82c885;
}
.alert-container .alert.alert-success:before {
  content: "\f058";
  color: #82c885;
}
.alert-container .alert.alert-danger {
  border-right-color: #fe8962;
}
.alert-container .alert.alert-danger:before {
  content: "\f057";
  color: #fe8962;
}
.alert-container .alert.alert-info {
  border-right-color: #a2e0f3;
}
.alert-container .alert.alert-info:before {
  content: "\f05a";
  color: #a2e0f3;
}
.alert-container .alert.alert-dismissible {
  padding-left: 4rem;
}
@media (max-width: 768px) {
  .alert-container .alert.alert-dismissible {
    padding-left: 2rem;
  }
}
.alert-container .alert.alert-dismissible .close {
  left: 0;
  right: auto;
  top: 50%;
  outline: 0;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #8D8D8D;
}

.tabs .nav-fill {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ECECEC;
}
.tabs .nav-fill li {
  border-left: 1px solid #fff;
}
.tabs .nav-fill li:last-child {
  border: 0;
}
.tabs .nav-fill .nav-link {
  border-radius: 0;
  padding: 1.2rem 1rem;
  border-top: 3px solid transparent;
}
.tabs .nav-fill .nav-link.active {
  background-color: #FFF;
  color: #004C45;
  border-top-color: #f6bf6c;
}

.alert-danger {
  background: #f1d7c6;
  border-color: #f1d7c6;
}

.alert-success {
  background: #cfe4b5;
  border-color: #cfe4b5;
}

.alert-warning {
  background: #f1ecc6;
  border-color: #f1ecc6;
}

.alert-info {
  background: #c6e7f1;
  border-color: #c6e7f1;
}

.table thead th {
  background-color: #F7F7F7;
  color: #2668d9;
  white-space: nowrap;
}
.table thead th[align="right"] {
  text-align: center;
}
.table thead th[align="center"] {
  text-align: center;
}
.table tbody tr td {
  white-space: nowrap;
  color: #8D8D8D;
}
@media (max-width: 768px) {
  .table tbody tr td {
    padding: 7px;
  }
}
.table tbody tr td .subject a {
  color: inherit;
}
.table tbody tr td.action {
  max-width: 100px;
  text-align: left;
}
.table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fafafa;
}

.primary-column {
  max-width: 90%;
  white-space: pre-line;
}

.table-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0;
  padding: 12px;
  background-color: #fafafa;
}
@media (max-width: 768px) {
  .table-footer {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media (max-width: 768px) {
  .table-footer .table-exports {
    margin-top: 7px;
  }
  .table-footer .table-exports a {
    margin-top: 5px;
  }
}

.accordion .card {
  background: transparent;
  border: 0;
  border-top: 1px solid #e2e2e2;
  border-radius: 0;
  padding: 5px 0;
}
.accordion .card:first-child {
  margin: 0;
  border: 0;
}
.accordion .card.style-2 {
  margin: 10px 0;
  border: 1px solid #f7f7f7;
}
.accordion .card.style-2 .card-header {
  padding: 0;
}
.accordion .card.style-2 .card-header h2 button {
  width: 100%;
  height: auto;
  border-radius: 0;
  padding: 15px;
  font-size: 1.2rem;
  background-color: transparent;
}
.accordion .card.style-2 .card-header h2 button .text span {
  color: #2668d9;
}
.accordion .card.style-2 .card-header h2 button:before {
  position: relative;
  top: 3px;
  font-size: .8rem;
  margin-left: 5px;
}
.accordion .card.style-2 .card-header h2 button.collapsed {
  background-color: #f9f9f9;
}
.accordion .card .card-header {
  margin: 0;
  border: 0;
  background: transparent;
}
.accordion .card .card-header h2 {
  padding: 0;
  margin: 0;
  font-size: 1.4rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.accordion .card .card-header button {
  text-align: center;
  width: 22px;
  outline: 0 !important;
  height: 22px;
  border: 0;
  background-color: #f0f0f0;
  border-radius: 50%;
  color: #1d4fa5;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 4px;
}
.accordion .card .card-header button:before {
  content: "\f077";
  font-family: 'Font Awesome 5 Free';
  font-size: 1rem;
  display: block;
  font-weight: 900;
}
.accordion .card .card-header button.collapsed:before {
  content: "\f078";
}
.accordion .card .card-header .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
.accordion .card .card-header .text > span {
  margin-right: 10px;
  display: inline-block;
  color: #1d4fa5;
  line-height: 1;
}
.accordion .card .card-header .links a {
  font-size: 1rem;
}
.accordion .card .card-body {
  padding: 12px;
}
.accordion .card .card-body .card .card-header h2 {
  font-size: 1.1rem;
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-right-radius: .25rem;
  border-top-left-radius: 0;
  border-left: 0;
  border-bottom-right-radius: .25rem;
  border-bottom-left-radius: 0;
}

.page-item:last-child .page-link {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
}

.page-link:hover {
  color: #2668d9;
}

.progress {
  direction: ltr;
  height: 10px;
}
.progress .progress-bar-green {
  background-color: #2668d9;
}
.progress .progress-bar-lightgreen {
  background-color: #91c58b;
}
.progress .progress-bar-darkgreen {
  background-color: #61ac58;
}
.progress .progress-bar-warning {
  background-color: #f7ce65;
}
.progress .progress-bar-danger {
  background-color: #dc3545;
}

.progress-inline-value {
  display: flex;
  align-items: center;
}
.progress-inline-value .progress {
  flex: 1;
  margin-right: 10px;
}

.ui-autocomplete {
  z-index: 2147483647;
}

.calendars-popup {
  z-index: 2147483647;
}

.tabs .nav-tabs li {
  margin-left: 2px;
}
.tabs .nav-tabs li:last-child {
  margin: 0;
}
.tabs .nav-tabs li a {
  padding: .7rem 1.4rem;
  border-radius: 0;
  font-weight: 500;
  background-color: #fafafa;
}
.tabs .nav-tabs li a.active {
  margin-top: 1px;
}
.tabs .nav-tabs li a.active .number {
  background-color: #fafafa;
}
.tabs .nav-tabs li a.disabled {
  color: silver;
}
.tabs .nav-tabs li a.disabled .number {
  color: silver;
  background-color: #fafafa;
}
.tabs .nav-tabs li a .number {
  width: 20px;
  height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  color: #8D8D8D;
  border-radius: 50%;
  font-size: .9rem;
  margin-left: 5px;
}
.tabs .tab-content {
  padding: 24px 0;
}

input[type="submit"].btn,
input[type="reset"].btn,
.btn {
  outline: 0 !important;
  -moz-border-radius: 6px !important;
  -webkit-border-radius: 6px;
  border-radius: 6px !important;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  -webkit-transition: all 0.2s ease-in-out;
  -webkit-transition-delay: 0s;
  transition: all 0.2s ease-in-out 0s;
}
input[type="submit"].btn:focus,
input[type="reset"].btn:focus,
.btn:focus {
  box-shadow: none;
}
input[type="submit"].btn.shw-hover:hover,
input[type="reset"].btn.shw-hover:hover,
.btn.shw-hover:hover {
  translate: translateY(-2px);
  -moz-box-shadow: 0 7px 28px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 7px 28px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 7px 28px 3px rgba(0, 0, 0, 0.2);
}

.btn + .btn {
  margin-right: 7px;
}

.btn:disabled,
.btn.disabled {
  background-color: #ccc !important;
  border-color: #ccc !important;
  color: #999 !important;
  cursor: default !important;
}

.btn-wide {
  padding: 8px 36px;
  font-size: 1rem;
}

.btn-wide.btn-sm {
  padding: 5px 24px;
  font-size: .9rem;
}

.btn.with-icon i {
  margin-left: 4px;
}

input[type="submit"].btn-primary,
input[type="reset"].btn-primary,
.btn-primary {
  background-color: #e5e5e5;
  border-color: #e5e5e5;
  color: #2668d9;
}

.btn-primary:focus,
.btn-primary.focus,
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
input[type="submit"]:focus,
input[type="submit"]:hover,
input[type="submit"].focus,
input[type="submit"].hover,
.open > .dropdown-toggle.btn-primary,
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #FFFFFF !important;
  background-color: #2668d9;
  border-color: #2668d9;
}

input[type="submit"].disabled:hover,
input[type="submit"].disabled:focus,
input[type="submit"][disabled]:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #447dde;
  border-color: #4980df;
}

input[type="submit"]:not(:disabled):not(.disabled):active,
input[type="submit"]:not(:disabled):not(.disabled).active,
.show > input[type="submit"].dropdown-toggle,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: #2159bb;
  border-color: #2057b6;
}

input[type="submit"] .badge,
.btn-primary .badge {
  color: #2668d9;
}

input[type="submit"].btn-secondary,
input[type="draft"].btn-secondary,
.btn-secondary {
  background-color: #4682B4 !important;
  border-color: #4682B4 !important;
  color: #FFFFFF !important;
}

.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary.active,
input[type="submit"]:focus,
input[type="submit"]:hover,
input[type="submit"].focus,
input[type="submit"].hover,
.open > .dropdown-toggle.btn-secondary,
.btn-secondary:active:hover,
.btn-secondary.active:hover,
.open > .dropdown-toggle.btn-secondary:hover,
.btn-secondary:active:focus,
.btn-secondary.active:focus,
.open > .dropdown-toggle.btn-secondary:focus,
.btn-secondary:active.focus,
.btn-secondary.active.focus,
.open > .dropdown-toggle.btn-secondary.focus {
  background-color: #3c6f9a !important;
  border-color: #3b6d97 !important;
}

input[type="submit"].disabled:hover,
input[type="submit"].disabled:focus,
input[type="submit"][disabled]:focus,
.btn-secondary.disabled:hover,
.btn-secondary[disabled]:hover,
fieldset[disabled] .btn-secondary:hover,
.btn-secondary.disabled:focus,
.btn-secondary[disabled]:focus,
fieldset[disabled] .btn-secondary:focus,
.btn-secondary.disabled.focus,
.btn-secondary[disabled].focus,
fieldset[disabled] .btn-secondary.focus {
  background-color: #5e93c0 !important;
  border-color: #6196c2 !important;
}

input[type="submit"]:not(:disabled):not(.disabled):active,
input[type="submit"]:not(:disabled):not(.disabled).active,
.show > input[type="submit"].dropdown-toggle,
.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  background-color: #3c6f9a !important;
  border-color: #3b6d97 !important;
}

input[type="submit"] .badge,
.btn-secondary .badge {
  color: #4682B4 !important;
}

body {
  background: transparent url("../images/systems_landing.png") repeat center center;
}

.gpm_landing {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
}
@media (max-width: 768px) {
  .gpm_landing {
    display: block;
    height: auto;
    padding: 24px;
  }
}

.gpm_landing__branding {
  max-height: 100px;
  margin-bottom: 32px;
}
@media (max-width: 768px) {
  .gpm_landing__branding {
    display: none;
  }
}
@media (min-width: 768px) {
  .gpm_landing__branding {
    -webkit-animation: fadeIn;
    animation: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }
}
.gpm_landing__branding img {
  max-height: 100px;
}

.landing__projects_list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: flex-start;
}
@media (max-width: 768px) {
  .landing__projects_list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.projects_list__item {
  width: 100%;
  margin: 10px;
}
.projects_list__item .projects_list__item__content {
  min-width: 148px;
  max-width: 200px;
}
@media (max-width: 768px) {
  .projects_list__item {
    padding: 24px 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .projects_list__item:nth-child(even) {
    background-color: #f2f2f2;
  }
}
@media (min-width: 768px) {
  .projects_list__item {
    -webkit-animation: bounceInUp;
    animation: bounceInUp;
    -webkit-animation-duration: .6s;
    animation-duration: .6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }
}
.projects_list__item:nth-child(1) {
  transition-delay: 0.0s;
}
.projects_list__item:nth-child(2) {
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
.projects_list__item:nth-child(3) {
  -webkit-animation-delay: calc(.3s * 2);
  animation-delay: calc(.3s * 2);
}
.projects_list__item:nth-child(4) {
  -webkit-animation-delay: calc(.5s * 3);
  animation-delay: calc(.3s * 3);
}
.projects_list__item:nth-child(5) {
  -webkit-animation-delay: calc(.5s * 4);
  animation-delay: calc(.3s * 4);
}
.projects_list__item .projects_list__figure {
  margin: 0;
  padding: 0;
  max-width: 100%;
}
.projects_list__item .projects_list__figure img {
  border: 0;
  max-width: 100%;
}
.projects_list__item p {
  margin: 10px 0 0;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.animate__fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.animate__slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

/* Sliding exits */
@-webkit-keyframes slideOutDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
@-webkit-keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0) scaleY(5);
    transform: translate3d(0, 3000px, 0) scaleY(5);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0) scaleY(0.9);
    transform: translate3d(0, -20px, 0) scaleY(0.9);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0) scaleY(0.95);
    transform: translate3d(0, 10px, 0) scaleY(0.95);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0) scaleY(0.985);
    transform: translate3d(0, -5px, 0) scaleY(0.985);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0) scaleY(5);
    transform: translate3d(0, 3000px, 0) scaleY(5);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0) scaleY(0.9);
    transform: translate3d(0, -20px, 0) scaleY(0.9);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0) scaleY(0.95);
    transform: translate3d(0, 10px, 0) scaleY(0.95);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0) scaleY(0.985);
    transform: translate3d(0, -5px, 0) scaleY(0.985);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
